<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel del Profesor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profesor.css') }}">
</head>
<body>
    <div class="container">
        <h1>Panel del Profesor</h1>

        <p>Has iniciado sesión correctamente como <strong>Profesor</strong>.</p>

        <a class="logout" href="/logout">Cerrar Sesión</a>
    </div>
</body>
</html>
